<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store location</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map {
            height: 100vh;
        }
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <h1>Store location - Amirul Azreen's learning project</h1>
    <div id="map"></div>

    <script>
        var map = L.map('map').setView([3.1390, 101.6869], 12); 
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    
        var markers = [];

        var defaultIcon = L.icon({
        iconUrl: 'http://leafletjs.com/examples/custom-icons/leaf-green.png',
        shadowUrl: 'http://leafletjs.com/examples/custom-icons/leaf-shadow.png',
        iconSize: [38, 95],
        shadowSize: [50, 64],
        iconAnchor: [22, 94],
        shadowAnchor: [4, 62],
        popupAnchor: [-3, -76]
        });
    
        {% for row in rows %}
            (function() {
                var marker = L.marker([{{ row[1] }}, {{ row[2] }}]).addTo(map);
                var originalIcon = marker.options.icon; 
        
                marker.bindPopup('<b>{{ row[0] }}</b><br>{{ row[3] }}<br>{{ row[4] }}');

                markers.push(marker);

                var circle = L.circle([{{ row[1] }}, {{ row[2] }}], {
                    color: 'blue',
                    fillColor: '#3186cc',
                    fillOpacity: 0,
                    radius: 5000, 
                    opacity: 0,
                }).addTo(map);
    
                marker.on('mouseover', function (e) {   
                    circle.setStyle({fillOpacity: 0.2}); 
                    this.openPopup();
    
                    highlightMarkersWithinProximity(this);
                });
    
                marker.on('mouseout', function (e) {
                    circle.setStyle({fillOpacity: 0}); 
                    this.closePopup();
    
                    this.setIcon(originalIcon);
    
                    removeHighlightFromMarkers();
                });
    
                function highlightMarkersWithinProximity(hoveredMarker) {
                    markers.forEach(function(marker) {
                        if (marker !== hoveredMarker) {
                            var distance = map.distance(
                                hoveredMarker.getLatLng(),
                                marker.getLatLng()
                            );
    
                            if (distance <= 5000) {
                                marker.setIcon(L.icon({
                                    iconUrl: 'https://www.clipartmax.com/png/small/295-2953301_google-map-marker-green.png',
                                    iconSize: [25, 41], 
                                    iconAnchor: [12, 41], 
                                }));
                            }
                        }
                    });
                }
    
                function removeHighlightFromMarkers() {
                    markers.forEach(function(marker) {
                        marker.setIcon(originalIcon); 
                    });
                }
            })();
        {% endfor %}
    </script>
</body>
</html>
